.background{
    background-color: #111;
    background-image: url('./images/desktop-wallpaper-programmer-s-life-developer-and-mobile-life-development-dark-developer.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 70vh;
    
}